/*an external css file*/

#features{

    background-color:beige;
}

body,header,h1,section{
    border-style:dotted;
    border-width:2px;
    border-color:turquoise;
}
h1{
    /*long hand*/
    padding-top:10px;
    padding-bottom:10px;    
    padding-left:10px;
    padding-right:10px;
    /*short hand*/
    padding: 10px;
    /*TRouble */
    padding: 5px 10px 13px 50px;
    /*this applies to all the  margins*/
    margin: 5px;
}